{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
<div class="connexionRequired-page">
    <h1>Attention !</h1>
    <p>vous devez être connecté pour aller sur cette page.</p>
    <button class="register-form-btn">
        <a href=" {{ path('app_login') }} ">Se connecter</a>
    </button>
</div>
{% endblock %}
