<h1>Bonjour! Confirmez votre adresse email!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
